<div class="container">
  <div class="row">
    <form #f="ngForm" (ngSubmit)="addTodo(f)">
      <div class="mb-3 my-5">
        <label for="name">*Name</label>
        <input
          ngModel
          type="text"
          name="name"
          #name="ngModel"
          id="name"
          class="form-control"
          required
          placeholder="name"
        />
      </div>
      <div class="mb-3">
        <label for="productId">Sifra phone</label>
        <input
          title="$"
          ngModel
          type="text"
          id="productId"
          name="productId"
          #productId="ngModel"
          class="form-control"
          placeholder="ID Phone"
          required
        />
      </div>
      <div class="mb-3">
        <label for="img">Phone photo's</label>
        <input
          title="$"
          ngModel
          type="text"
          id="img"
          name="img"
          #img="ngModel"
          class="form-control"
          placeholder="Copy Addres Img"
          required
        />
      </div>
      <div class="mb-3">
        <label for="price">Price</label>
        <input
          title="$"
          ngModel
          type="number"
          id="price"
          name="price"
          #price="ngModel"
          class="form-control"
          placeholder="Price"
          required
        />
      </div>
      <div class="form-group">
        <label for="descr">Description</label>
        <textarea
          class="form-control"
          id="descr"
          required
          ngModel
          #descr="ngModel"
          name="descr"
          required
        ></textarea>
      </div>

      <!-- <div class="mb-3">
        <label for="descr">*Description</label>
        <input
          ngModel
          type="text"
          id="descr"
          name="descr"
          #descr="ngModel"
          class="form-control"
          required
        />
      </div> -->

      <button class="btn btn-success" type="submit">Add Phone</button>
    </form>
  </div>
</div>
