.card {
width: 50%;
margin: auto;
}
.error-message{
color: firebrick;
}
ul {
    list-style: none;
}
.price{
width: 200px;
color: white !important;
font-weight: bold;
border-radius: 8px;
text-align: right;
}

