<h1 class="text-center">Checkout</h1>
<hr />
<div *ngIf="items.length > 0; else noItems">
  <p class="text-center">Your current Cart includes these items:</p>
  <div *ngFor="let item of items" class="alert alert-info card">
    <h4>{{ item.name }}</h4>
    <h6>{{ item.price | currency : "USD" : "symbol" : "1.2-2" }}</h6>
  </div>
  <h4 class="text-right">Total Price{{ items | sum | currency }}</h4>
</div>
<div>
  <ng-template #noItems>
    <p class="text-center">This Cart is Empty</p>
  </ng-template>
</div>
