.card {
  width: 50%;
  margin: auto;
}
.error-message {
  color: firebrick;
}
ul {
  list-style: none;
}
.container{
height: 100vh;
}
.price {
  color: white !important;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
width: 40%;
right: 10px;
}
.toscv {
  width: 30%;
  border-radius: 8px;
}
