<div class="container">
  <div class="row card col-8" *ngIf="cartItems.length > 0; else noItems">
    <h1 class="text-center">Checkout</h1>
    <hr />

    <!-- <div>
      <div>
        <div *ngFor="let item of cartItems">
        <span>  {{ item.product.name }}</span>

          <a (click)="onDelete(item.product)"
            ><i class="bi bi-file-minus"></i
          ></a>
          <span> {{ item.quantity }}</span>
          <a (click)="onAddToCart(item.product)"
            ><i class="bi bi-file-plus"></i
          ></a>
        </div>
      </div>
      <p>Total price: {{ totalPrice }}</p>
    </div> -->
    <div *ngIf="cartItems.length > 0; else noItems">
      <p class="text-center">Your current Cart includes these items:</p>
    </div>
    <table class="my-5 table table-hover table-striped">
      <thead class="table-info">
        <tr>
          <th>Name</th>
          <th>Cena po komadu</th>
          <th>Izbaci iz korpe</th>
          <th>kolicina</th>
          <th>Ubaci u korpu</th>
          <th>Cena</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems; let i = index">
          <td>{{ item.product.name }}</td>
          <td>
            {{ item.product.price | currency : "USD" : "symbol" : "1.2-2" }}
          </td>
          <td>
            <a (click)="onDelete(item.product)"
              ><i class="bi bi-file-minus"></i
            ></a>
          </td>
          <td>{{ item.quantity }}</td>
          <td>
            <a (click)="onAddToCart(item.product)"
              ><i class="bi bi-file-plus"></i
            ></a>
          </td>
          <td>{{ totalP }}</td>
        </tr>
      </tbody>
    </table>

    <div class="bg-success price">
      <p class="my-2">
        Total price: {{ totalPrice | currency : "USD" : "symbol" : "1.2-2" }}
      </p>
    </div>

    <p class="text-center">Your Data address</p>
    <form
      [formGroup]="checkoutForm"
      (ngSubmit)="submitForm(checkoutForm.value)"
    >
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          class="form-control"
          placeholder="name"
          formControlName="name"
        />
      </div>
      <p class="error-message" *ngIf="name!.errors?.['required']">
        Name is Required
      </p>

      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          name="address"
          id="address"
          class="form-control"
          placeholder="address"
          formControlName="address"
        />
      </div>
      <p class="error-message" *ngIf="address!.errors?.['required']">
        Address is Required
      </p>

      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          name="email"
          id="email"
          class="form-control"
          placeholder="email"
          formControlName="email"
        />
      </div>
      <p class="error-message" *ngIf="email!.errors?.['required']">
        Email is Required
      </p>

      <button
        type="submit"
        title="#"
        class="btn btn-primary btn-block"
        [disabled]="!checkoutForm.valid"
(click)="purcashe()"
      >
        Purcashe
      </button>
    </form>
  </div>
  <div>
    <ng-template #noItems>
      <p class="text-center">This Cart is Empty</p>
    </ng-template>
  </div>
</div>
<div class="col-4"></div>
