<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="main">Products App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="main">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product/add">Add Product</a>
        </li>
      </ul>
      <ul class="ms-auto mx-5">
        <li class="nav-item ml-auto">
          <a class="nav-link ms-auto" routerLink="/checkout"
            >Cart <i class="bi bi-cart-check"><span class="badge"><sub>{{ cartItemCount }}</sub></span></i
          ></a>
        </li>
        <li>
          <a  type="button" class="nav-link active" aria-current="page" (click)="register()" >Logout </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
