<div class="container">
  <h1 class="text-center">Products</h1>
  <hr />
  <div class="row" class="d-flex justify-content-center flex-wrap my-5">
    <div *ngFor="let product of products">
      <div class="card my-3" >
        <div class="card-header bg-danger">
          {{ product.name }}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item bg-info">Name: {{ product.name }}</li>
          <li class="list-group-item bg-info">Product ID: {{ product.productId }}</li>
       <li class="list-group-item bg-info">Descr: {{ product.price  | currency:'USD':'symbol':'1.2-2'}}</li>

        </ul>
        <div class="card-footer bg-warning"><a  class="btn btn-primary" routerLink="/products/{{product.productId  }}">Details</a></div>
      </div>
    </div>
  </div>
</div>
