<div class="container" #myFunction>
  <h1 class="text-center">Phone</h1>
  <div>
    <input
      [(ngModel)]="searchText"
      type="text"
      class="search form-control border border-primary my-5"
      placeholder="serach"
    />
  </div>
  <div>
    <button class="btn btn-warning mx-5" type="button" (click)="sortName()">
      Sort Name<i class="bi bi-arrow-down"></i><i class="bi bi-arrow-up"></i>
    </button>
    <button class="btn btn-warning x-5" type="button" (click)="sortPrice()">
      Sort Price <i class="bi bi-arrow-down"></i><i class="bi bi-arrow-up"></i>
    </button>
  </div>
</div>
<hr />
<div class="row" class="d-flex justify-content-center flex-wrap my-5">
  <div
    *ngFor="
      let product of products
        | filter : searchText
        | paginate
          : { itemsPerPage: 7, currentPage: page, totalItems: totalLength };
      let i = index
    "
  >
    <div class="card my-3">
      <div class="card-header bg-danger">
        {{ product.name }}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item bg-info">Name: {{ product.name }}</li>
        <li class="list-group-item bg-info">
          Short descr: {{ product.productId }}
        </li>
        <li class="list-group-item bg-info">
          Price: {{ product.price | currency : "USD" : "symbol" : "1.2-2" }}
        </li>
      </ul>
      <div class="card-footer bg-warning">
        <a class="btn btn-primary" routerLink="product/{{ product.id }}"
          >Details</a
        >
      </div>
    </div>
  </div>
</div>
<pagination-controls
  class="text-center pag my-5"
  (pageChange)="page = $event"
></pagination-controls>
<button type="button" class="btn btn-warning tocsv" (click)="exportToCsv()">
  Export to CSV
</button>
