.delete-button {
  position: absolute;
  width: 10%;
  top: 0;
  right: 0;
  border-radius: 50%;
  /* apply any additional styles */
}
.container{
  height: 100vh;
  }
.item {
  background-color: antiquewhite;
  padding: 5px;
  margin: 5px;
  border: 2px solid blue;
  text-align: center;
}
.card {
  position: relative;
  border-radius: 15px;
}
.back {
  width: 20%;
}
