.delete-button {
  position: absolute;
  width: 10%;
  top: 0;
  right: 0;
  border-radius: 50%;
  /* apply any additional styles */
}
.item {
  background-color: antiquewhite;
padding: 5px;
margin: 5px;
  border: 2px solid blue;
  text-align: center;
 
}
.card {
  position: relative;
}
.back {
  width: 20%;
}
